* {
  &:focus {
    outline: 2px solid $dustyorange;
  }
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background: white;
  color: black;
  z-index: 999;
  &:focus {
    left: 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  padding: 2px 25px;
  border: none;
  background: $rustred;
  color: $offwhite;
  font-family: $tulpen;
  text-transform: capitalize;
  transition: box-shadow .3s ease-out;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 6px 6px $dustyorange;
  }
}

input {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10px;
  background-color: transparent;
  color: $offwhite;
  font-family: $chathura;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out, border 0.3s ease-out;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background: transparent;
  color: $offwhite;
  font-family: $chathura;
  resize: none;
  transition: background .3s ease-out, box-shadow .3s ease-out, border .3s ease-out;
  &:hover, &:focus {
    outline: none;
  }
}

nav {
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}