* {
  &:focus {
    outline: 2px solid $dustyorange;
  }
}

html {
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background: white;
  color: black;
  z-index: 999;
  &:focus {
    left: 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  padding: 2px 25px;
  border: none;
  background-image: linear-gradient($dustyorange 0 0);
  background-size: 100% 0%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: $rustred;
  color: $offwhite;
  font-family: $tulpen;
  text-transform: capitalize;
  transition: box-shadow .4s ease-out, background-size .2s .1s ease-out, text-shadow .2s .1s ease-out;
  cursor: pointer;
  &:hover,
  &:focus {
    transition: box-shadow .4s .2s cubic-bezier(.18,.04,0,1.8), background-size .3s ease-out, text-shadow .3s ease-out;
    background-size: 100% 100%;
    box-shadow: 6px 6px $rustred;
    text-shadow: 1px 1px $black;
  }
}

input {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10px;
  background-color: transparent;
  color: $offwhite;
  font-family: $chathura;
  transition: background .3s ease-out, box-shadow .3s ease-out, border .3s ease-out;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background: transparent;
  color: $offwhite;
  font-family: $chathura;
  resize: none;
  transition: background .3s ease-out, box-shadow .3s ease-out, border .3s ease-out;
  &:hover, &:focus {
    outline: none;
  }
}

nav {
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}