.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  &:focus {
    left: 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  border: none;
  padding: 2px 25px;
  background: $rustred;
  color: $offwhite;
  font-family: $tulpen;
  cursor: pointer;
  transition: background .3s ease-out, border-radius .3s ease-out;
  &:hover,
  &:focus {
    background: $dustyorange;
    border-radius: 5px;
  }
}

nav {
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.wrapper {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
}