
header {
  &.blogHeader {
    background: url('../assets/blog-header-1.jpg') no-repeat center / cover;
  }
  .blogHeading {
    flex-grow: 1;
    display: flex;
    align-items: center;
    h1 {
      font-family: $chathura;
      color: white;
      text-align: left;
    }
  }
}