.burgerMenu {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  background-color: $dustyorange;
  padding: 20px;
  box-shadow: 6px 6px $rustred;
  cursor: pointer;
  i {
    font-size: 2rem;
    color: white;
  }
}