.contactMainContent {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}
.contactInfo {
  margin: 50px 0 50px 30px;
  .socialIcons {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
  .contactEmail {
    margin: 10px 0;
    transition: color .3s ease-out;
    &:hover, &:focus {
    color: $dustyorange;
    }
  }
  .fa-brands {
    transition: color .3s ease-out, animation .3s ease-out;
  }
  .socialIcons a {
    &:hover, &:focus {
      .fa-facebook-f {
        color: #2374e1;
      }
      .fa-instagram {
        color: #bc1888;
      }
      .fa-twitter {
        color: #1d9bf0;
      }
      .fa-whatsapp {
        color: #25D366;
      }
    }
  }
  .fa-facebook-f {
    &:hover, &:focus {
      color: #2374e1;
    }
  }
  .fa-instagram {
    &:hover, &:focus {
      color: #bc1888;
    }
  }
  .fa-twitter {
    &:hover, &:focus {
      color: #1d9bf0;
    }
  }
  .fa-whatsapp {
    &:hover, &:focus {
      color: #25D366;
    }
  }
}
.contactForm {
  margin-top: -20px;
  padding: 30px;
  box-shadow: 2vw 2vw $dustyorange;
  background: $darkred;
  z-index: 10;
  form {
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
    }
  }
  input {
    border: 2px solid transparent;
    border-bottom: 2px solid $offwhite;
    &:hover, &:focus {
      background: rgba($color: $offwhite, $alpha: 0.1);
      border: 2px solid transparent;
      box-shadow: 0 0 5px 1px $offwhite;
      outline: none;
    }
  }
  // before and after elements to 'square off' the input bottom borders.
  // .contactFormName,
  // .contactFormEmail {
  //   position: relative;
  //   &::before,
  //   &::after {
  //     content: '';
  //     position: absolute;
  //     width: 2px;
  //     height: 2px;
  //     background: $offwhite;
  //     bottom: 30px;
  //     transition: background .3s;
  //   }
  //   &:hover {
  //    &::before,
  //    &::after {
  //     background:rgba($color: $offwhite, $alpha: 0);
  //    }
  //   }
  //   &::after {
  //     right: 1px;
  //   }
  // }
  textarea {
    border: 2px solid $offwhite;
    &:hover, &:focus {
      background: rgba($color: $offwhite, $alpha: 0.1);
      border: 2px solid transparent;
      box-shadow: 0 0 5px 1px $offwhite;
    }
  }
}