header {
  height: 40vh;
  background: url('../assets/home-image-1.jpg') no-repeat center / cover;
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  nav {
    display: flex;
    justify-content: center;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    li {
      text-transform: uppercase;
    }
    a {
      padding: 10px 10px;
    }
    .navHome {
      order: 1;
    }
    .navAbout {
      order: 2
    }
    .navLogo {
      order: 3;
      font-family: $tulpen;
      text-transform: capitalize;
      display: none;
    }
    .navBlog {
      order: 4;
    }
    .navContact {
      order: 5;
    }
  }
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  span {
    position: relative;
    top: clamp(-4px, 3vw, 13px);
    left: clamp(4px, 0.8vw, 7px);
    text-align: left;
  }
}