header {
  position: relative;
  height: 35vh;
  background: url('../assets/home-image-1.jpg') no-repeat center / cover;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  nav {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    z-index: 1;
    ul {
      width: 100%;
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
    }
    li {
      text-transform: uppercase;
    }
    a {
      padding: 10px 9px;
      transition: color .3s ease-out;
      &:hover, &:focus {
        color: $dustyorange;
      }
    }
    .navHome {
      order: 1;
    }
    .navAbout {
      order: 2
    }
    .navLogo {
      order: 3;
      font-family: $tulpen;
      text-transform: capitalize;
      display: none;
      font-weight: 400;
      a { 
        font-size: 3rem;
      }
    }
    .navBlog {
      order: 4;
    }
    .navContact {
      order: 5;
    }
    .youAreHere a {
      color: $dustyorange;
    }
  }
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 5rem;
    z-index: 1;
  }
  span {
    display: block;
    position: relative;
    top: -21px;
    left: -27px;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .headerBox {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -70px;
  }
  &.blogHeader {
    background: url('../assets/blog-header-1.jpg') no-repeat center / cover;
  }
  .blogHeading,
  .contactHeading {
    flex-grow: 1;
    display: flex;
    align-items: center;
    h1 {
      font-family: $chathura;
      color: white;
      text-align: left;
    }
  }
  &.contactHeader {
    background: url('../assets/contact-header-1.jpg')
  }
  
}
