.spaces {
  margin-top: 80px;
  .wrapper {
    width: 85%;
  }
  .space {
    margin-top: 50px;
    display: flex;
  }
  .space:last-of-type {
    margin-bottom: 80px;
  }
  span {
    display: block;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  a {
    &:hover,
    &:focus {
      h2 {
        color: $dustyorange;
      }
      & > span > .fa-stack-2x {
        color: $dustyorange;
      }
    }
  }
  .fa-stack-2x {
    color: $rustred;
    transition: color .3s ease-out, transform .3s ease-out;
    &:hover,
    &:focus {
      color: $dustyorange;
    }
  }
  h2 {
    transition: color .3s ease-out;
  }
}

.readMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $darkred;
  img {
    width: 90%;
  }
  img:first-of-type {
    margin-top: -15px;
    box-shadow: 10px 10px $dustyorange;
  }
  img:last-of-type {
    box-shadow: -10px 10px $dustyorange;
  }
  .wrapper {
    width: 80%;
    margin: 20px 0 50px;
    p {
      margin: 5px 0 15px;
    }
    &:last-of-type {
      order: 1;
      margin-bottom: 50px;
    }
  }
}

.party {
  padding-top: 50px;
  .wrapper {
    width: 85%;
    text-align: center;
  }
  h3 {
    color: $dustyorange;
    font-size: 3rem;
    text-align: center;
  }
  p {
    line-height: 30px;
    margin: 20px 0;
  }
  button {
    margin: 10px 0 60px;
  }
}

.events {
  padding: 60px 0;
  .wrapper {
    width: 80%;
  }
  img {
    margin-bottom: 20px;
    box-shadow: -10px 10px $dustyorange;
  }
  h3 {
    margin: 10px 0;
    color: $dustyorange;
  }
  p {
    margin: 10px 0;
  }
  button {
    margin-top: 10px;
  }
}

.gallery {
  .wrapper {
    width: 100%;
    display: flex;
    img {
      width: calc(100% / 3);
    }
  }
}

footer {
  background: $grey;
  text-align: center;
  line-height: normal;
}
