@media (min-width: $tablet) {
  header {
    min-height: 50vh;
    nav {
      padding-top: 15px;
      .navLogo {
        display: block;
      }
    }
    h1 {
      font-size: 9rem;
      line-height: 9rem;
    }
    span {
      font-size: 2.9rem;
      line-height: 2.9rem;
      top: -42px;
      left: -53px;
    }
    .headerBox {
      bottom: -80px;
    }
    &.blogHeader {
      min-height: 50vh;
    }
    .blogHeading h1 {
      font-size: 5rem;
    }
  }
  section.comments {
    .commentWrapper {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .commenterName,
    .commenterEmail {
      flex-basis: 46%;
    }
    input {
      border: 1px solid transparent;
      border-bottom: 1px solid $dustyorange;
    }
  }
}

@media (min-width: $desktop) {
  header {
    min-height: 65vh;
    h1 {
      font-size: 13.07rem;
      line-break: 13.07rem;
      margin-bottom: 20px;
    }
    span {
      font-size: 4.5rem;
      line-height: 4.5rem;
      top: -24px;
      left: -73px;
    }
    .headerBox {
      bottom: -90px;
    }
    .blogHeading h1 {
      font-size: 5rem;
    }
  }
  .spaces {
    margin: 110px 0 40px;
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .space {
      flex-basis: 50%;
    }
  }
  .readMore {
    flex-flow: row wrap;
    justify-content: space-between;
    .wrapper {
      width: 40%;
      p {
        padding-bottom: 20px;
      }
      &:first-of-type {
        padding-right: 10vw;
      }
      &:last-of-type {
        text-align: right;
        padding-left: 10vw;
        p {
          text-align: left;
        }
      }
    }
    img,
    div {
      flex-basis: 42%;
    }
    img:first-of-type {
      margin-top: -30px;
      box-shadow: 15px 15px $dustyorange;
    }
    img:last-of-type {
      order: 1;
      margin-bottom: -30px;
      box-shadow: -15px 15px $dustyorange;
    }
  }
  .party {
    padding-top: 100px;
    .wrapper {
      width: 70%;
    }
    button {
      margin-bottom: 100px;
    }
  }

  .events {
    padding: 40px 0;
    .wrapper {
      display: flex;
      align-items: center;
    }
    img {
      flex-basis: 30%;
      height: 100%;
      margin: 0 60px 0 0;
    }
    div {
      flex-basis: 70%;
    }
    h3 {
      margin: 0 0 20px;
    }
    p {
      margin: 0;
    }
    button {
      margin-top: 30px;
    }
  }

  .gallery {
    padding: 60px 0;
    background: $darkred;
    .wrapper {
      width: 80%;
      justify-content: space-between;
      img {
        width: calc(95% / 3);
      }
    }
  }
  main.blogMainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  aside {
    flex-basis: 33%;
    max-width: 500px;
    top: 100px;
    height: 100%;
    .container {
      flex-direction: column;
      padding: 0 20px 20px;
      width: 80%;
    }
    img {
      top: -20px;
      left: calc(-3vw - 23px);
      width: 122%;
    }
    li {
      font-size: 1.5rem;
    }
  }
  .blogAndComments {
    flex-basis: 65%;
    max-width: 1200px;
    margin-top: -120px;
    overflow: hidden;
    .img-wrapper {
      width: 98%;
      img {
        margin-left: 2%;
        box-shadow: -1.5vw 1.5vw $dustyorange;
      }
    }
  }
  section.comments {
    h4 {
      margin-left: 5%;
    }
    .commentWrapper {
      img {
        flex-basis: 12%;
      }
      .userComment {
        flex-basis: 85%;
      }
    }
  }
}