html {
  font-size: 125%;
  text-rendering: optimizeLegibility;
}

body {
  background: $black;
  color: $offwhite;
  font-family: $chathura;
  font-size: 1.5rem;
  line-height: 1.3rem;
  letter-spacing: 1.9px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  margin: 0;
  color: $dustyorange;
  font-family: $tulpen;
  letter-spacing: 2.4px;
  text-align: center;
  span {
    color: $offwhite;
    font-family: $chathura;
    font-weight: 700;
    line-height: 94.7px;
    letter-spacing: 2.6px;
  }
}

h2,
h3 {
  font-size: 3rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: $offwhite;
  text-decoration: none;
  display: inline-block;
}
