$chathura: 'Chathura', Arial, Helvetica, sans-serif;
$tulpen: 'Tulpen One', cursive;

$offwhite: #fff;
$rustred: #bf2603;
$dustyorange: #ff8327;
$black: #111010;
$darkred: #220303;

$tablet: 481px;
$desktop: 769px;