@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  text-rendering: optimizeLegibility;
}

body {
  background: #111010;
  color: #fff;
  font-family: "Chathura", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.3rem;
  letter-spacing: 1.9px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  margin: 0;
  color: #ff8327;
  font-family: "Tulpen One", cursive;
  letter-spacing: 2.4px;
  text-align: center;
}
h1 span {
  color: #fff;
  font-family: "Chathura", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

h2,
h3 {
  font-size: 3rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}
.skip-link:focus {
  left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  padding: 2px 25px;
  background: #bf2603;
  color: #fff;
  font-family: "Tulpen One", cursive;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-out, border-radius 0.3s ease-out;
  transition: background 0.3s ease-out, border-radius 0.3s ease-out;
}
button:hover, button:focus {
  background: #ff8327;
  border-radius: 5px;
}
button:focus {
  outline: 3px solid #bf2603;
}

nav {
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.9px;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  position: relative;
  height: 35vh;
  background: url("../assets/home-image-1.jpg") no-repeat center/cover;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  z-index: 1;
}
header nav ul {
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}
header nav li {
  text-transform: uppercase;
}
header nav a {
  padding: 10px 9px;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
header nav a:hover {
  color: #ff8327;
}
header nav .navHome {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
header nav .navAbout {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
header nav .navLogo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-family: "Tulpen One", cursive;
  text-transform: capitalize;
  display: none;
  font-weight: 400;
}
header nav .navLogo a {
  font-size: 3rem;
}
header nav .navBlog {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
header nav .navContact {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
header nav .youAreHere a {
  color: #ff8327;
}
header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
header h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
  z-index: 1;
}
header span {
  display: block;
  position: relative;
  top: -21px;
  left: -27px;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
header .headerBox {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -70px;
}
header.blogHeader {
  background: url("../assets/blog-header-1.jpg") no-repeat center/cover;
}
header .blogHeading {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .blogHeading h1 {
  font-family: "Chathura", Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}

.spaces {
  margin-top: 80px;
}
.spaces .wrapper {
  width: 85%;
}
.spaces .space {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spaces .space:last-of-type {
  margin-bottom: 50px;
}
.spaces span {
  display: block;
  margin-right: 10px;
  font-size: 1.5rem;
}
.spaces a:hover h2, .spaces a:focus h2 {
  color: #ff8327;
}
.spaces a:hover > span > .fa-stack-2x, .spaces a:focus > span > .fa-stack-2x {
  color: #ff8327;
}
.spaces .fa-stack-2x {
  color: #bf2603;
  -webkit-transition: color 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: color 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: color 0.3s ease-out, transform 0.3s ease-out;
  transition: color 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.spaces .fa-stack-2x:hover, .spaces .fa-stack-2x:focus {
  color: #ff8327;
}
.spaces h2 {
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.readMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #220303;
}
.readMore img {
  width: 90%;
}
.readMore img:first-of-type {
  position: relative;
  top: -15px;
  -webkit-box-shadow: 10px 10px #ff8327;
          box-shadow: 10px 10px #ff8327;
}
.readMore img:last-of-type {
  -webkit-box-shadow: -10px 10px #ff8327;
          box-shadow: -10px 10px #ff8327;
  position: relative;
}
.readMore .wrapper {
  width: 80%;
  margin: 20px 0 50px;
}
.readMore .wrapper p {
  margin: 5px 0 15px;
}
.readMore .wrapper:last-of-type {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 50px;
}

.party {
  padding-top: 50px;
}
.party .wrapper {
  width: 85%;
  text-align: center;
}
.party h3 {
  color: #ff8327;
  font-size: 3rem;
  text-align: center;
}
.party p {
  line-height: 30px;
  margin: 20px 0;
}
.party button {
  margin: 10px 0 60px;
}

.events {
  padding: 50px 0;
}
.events .wrapper {
  width: 80%;
}
.events img {
  margin-bottom: 20px;
  -webkit-box-shadow: -10px 10px #ff8327;
          box-shadow: -10px 10px #ff8327;
}
.events h3 {
  margin: 10px 0;
  color: #ff8327;
}
.events p {
  margin: 10px 0;
}
.events button {
  margin-top: 10px;
}

.gallery .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery .wrapper img {
  width: 33.3333333333%;
}

footer {
  background: #2c2c2c;
  text-align: center;
  line-height: normal;
}

aside {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
aside .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 3vw;
  width: 94%;
  background: #220303;
  padding: 0 7vw 30px 0;
}
aside img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -3vw;
  left: -3vw;
}
aside .wrapper {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
aside a {
  color: #ff8327;
}
aside h3 {
  margin-top: 20px;
  line-height: 2rem;
}
aside li {
  font-size: 1.1rem;
}
aside li::before {
  content: "•";
  display: inline-block;
  position: relative;
  bottom: -2px;
  margin: 0 10px;
  color: #bf2603;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.blogAndComments .img-wrapper {
  width: 97%;
}
.blogAndComments img {
  position: relative;
  margin-left: 3%;
  -webkit-box-shadow: -3vw 3vw #ff8327;
          box-shadow: -3vw 3vw #ff8327;
}

article.blog {
  background-color: #111010;
  border-left: 3px solid #ff8327;
  border-bottom: 3px solid #ff8327;
}
article.blog .wrapper {
  width: 80%;
  padding: 60px 0 40px;
}
article.blog h2 {
  line-height: 1.5rem;
}
article.blog .datePublished {
  color: #ff8327;
  font-size: 1.3rem;
}
article.blog .blogPostContent {
  margin-top: 25px;
}
article.blog p {
  margin: 25px 0;
}

section.comments h4 {
  font-size: 3rem;
}
section.comments .wrapper {
  width: 90%;
  padding: 50px 0;
}
section.comments .commentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0;
}
section.comments .commentWrapper:not(:nth-last-child(2)) {
  margin-bottom: 70px;
}
section.comments .commentWrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-top: 5px;
}
section.comments .commentWrapper .userComment {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
section.comments .commentWrapper h5 {
  color: #ff8327;
  font-size: 2rem;
  margin-bottom: 10px;
}
section.comments label {
  display: block;
  margin-left: 20px;
}
section.comments input {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10px;
  border: 1px solid #ff8327;
  background: transparent;
  color: #fff;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  font-family: "Chathura", Arial, Helvetica, sans-serif;
}
section.comments input:hover, section.comments input:focus {
  background: rgba(255, 131, 39, 0.1);
  border: 1px solid rgba(255, 131, 39, 0.1);
  -webkit-box-shadow: 0 0 5px 1px #ff8327;
          box-shadow: 0 0 5px 1px #ff8327;
  outline: none;
}
section.comments textarea {
  resize: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ff8327;
  background: #111010;
  color: #fff;
  font-family: "Chathura", Arial, Helvetica, sans-serif;
}
section.comments textarea::-webkit-input-placeholder {
  opacity: 1;
}
section.comments textarea::-moz-placeholder {
  opacity: 1;
}
section.comments textarea:-ms-input-placeholder {
  opacity: 1;
}
section.comments textarea::-ms-input-placeholder {
  opacity: 1;
}
section.comments textarea::placeholder {
  opacity: 1;
}
section.comments textarea:hover, section.comments textarea:focus {
  background: rgba(255, 131, 39, 0.1);
  border: 1px solid rgba(255, 131, 39, 0.1);
  -webkit-box-shadow: 0 0 5px 1px #ff8327;
          box-shadow: 0 0 5px 1px #ff8327;
  outline: none;
}
section.comments form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 481px) {
  header {
    min-height: 50vh;
  }
  header nav {
    padding-top: 15px;
  }
  header nav .navLogo {
    display: block;
  }
  header h1 {
    font-size: 9rem;
    line-height: 9rem;
  }
  header span {
    font-size: 2.9rem;
    line-height: 2.9rem;
    top: -42px;
    left: -53px;
  }
  header .headerBox {
    bottom: -80px;
  }
  header .blogHeading h1 {
    font-size: 5rem;
  }

  section.comments .commentWrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  section.comments form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.comments .commenterName,
section.comments .commenterEmail {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
  section.comments input {
    border: 1px solid transparent;
    border-bottom: 1px solid #ff8327;
  }
}
@media (min-width: 769px) {
  header {
    min-height: 65vh;
  }
  header h1 {
    font-size: 13.07rem;
    line-break: 13.07rem;
    margin-bottom: 20px;
  }
  header span {
    font-size: 4.5rem;
    line-height: 4.5rem;
    top: -24px;
    left: -73px;
  }
  header .headerBox {
    bottom: -90px;
  }
  header.blogHeader {
    min-height: 50vh;
  }
  header .blogHeading h1 {
    font-size: 5rem;
  }

  .spaces {
    margin: 110px 0 40px;
  }
  .spaces .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .spaces .space {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .readMore {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .readMore .wrapper {
    width: 40%;
  }
  .readMore .wrapper p {
    padding-bottom: 20px;
  }
  .readMore .wrapper:first-of-type {
    padding-right: 10vw;
  }
  .readMore .wrapper:last-of-type {
    text-align: right;
    padding-left: 10vw;
  }
  .readMore .wrapper:last-of-type p {
    text-align: left;
  }
  .readMore img,
.readMore div {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
  .readMore img:first-of-type {
    top: -30px;
    -webkit-box-shadow: 15px 15px #ff8327;
            box-shadow: 15px 15px #ff8327;
  }
  .readMore img:last-of-type {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    bottom: -30px;
    -webkit-box-shadow: -15px 15px #ff8327;
            box-shadow: -15px 15px #ff8327;
  }

  .party {
    padding-top: 100px;
  }
  .party .wrapper {
    width: 70%;
  }
  .party button {
    margin-bottom: 100px;
  }

  .events {
    padding: 40px 0;
  }
  .events .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .events img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 100%;
    margin: 0 60px 0 0;
  }
  .events div {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .events h3 {
    margin: 0 0 20px;
  }
  .events p {
    margin: 0;
  }
  .events button {
    margin-top: 30px;
  }

  .gallery {
    padding: 60px 0;
    background: #220303;
  }
  .gallery .wrapper {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery .wrapper img {
    width: 31.6666666667%;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  aside {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  aside img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .blogAndComments {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .blogAndComments .img-wrapper {
    width: 98%;
  }
  .blogAndComments img {
    margin-left: 2%;
    -webkit-box-shadow: -1.18vw 1.18vw #ff8327;
            box-shadow: -1.18vw 1.18vw #ff8327;
  }
}